* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  text-transform: capitalize;
  font-family: 'Exo 2', sans-serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

#header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #333;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.5rem 2.5rem;
  color: #fff;
}

#header .fa-bars {
  font-size: 3rem;
  z-index: 10000;
  cursor: pointer;
}

#header .logo {
  color: #fff;
  font-size: 2rem;
}

#header .logo i {
  padding: 0 .5rem;
}

#header .logo h1 {
  display: inline;
}

#header .logo:hover {
  text-decoration: none;
}

#header .left .fa-shopping-cart {
  font-size: 2rem;
  cursor: pointer;
}

#header .left .search-container {
  display: inline;
  position: relative;
}

#header .left .search-container #search {
  position: absolute;
  top: -1.5rem;
  right: .8rem;
  height: 3.5rem;
  width: 3.5rem;
  font-size: 1.5rem;
  padding: 0 1rem;
  border: none;
  outline: none;
  border-radius: 5rem;
}

#header .left .search-container #search:hover, #header .left .search-container #search:focus {
  width: 25rem;
}

#header .left .search-container .fa-search {
  position: absolute;
  top: -.7rem;
  left: -3.5rem;
  font-size: 2rem;
  cursor: pointer;
  z-index: 1;
  color: #333;
}

#header .left .search-container .fa-search:hover ~ #search {
  width: 25rem;
}

#header .navbar {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.9);
  padding: 0;
  display: none;
}

#header .navbar ul {
  height: 100%;
  width: 35rem;
  background: #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  list-style: none;
}

#header .navbar ul li {
  margin: .5rem 0;
}

#header .navbar ul li a {
  display: block;
  height: 4rem;
  width: 25rem;
  background: #fff;
  color: #333;
  border-radius: 5rem;
  text-align: center;
  font-size: 2rem;
  line-height: 4rem;
}

#header .navbar ul li a:hover {
  text-decoration: none;
  background: #EB4D4B;
  letter-spacing: .5rem;
  color: #fff;
}

#homes {
  background: #333;
}

#homes .slide {
  min-height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#homes .slide .image img {
  width: 50vw;
}

#homes .slide .content h2 {
  font-size: 5rem;
  color: #fff;
}

#homes .slide .content p {
  font-size: 1.7rem;
  color: #ccc;
}

#homes .slide .content .stars {
  margin: 1rem;
}

#homes .slide .content .stars i {
  font-size: 2.5rem;
  padding-right: .4rem;
  color: gold;
}

#homes .slide .content .price {
  color: #EB4D4B;
  font-size: 3.5rem;
  margin: .5rem 0;
}

#homes .slide .content button {
  outline: none;
  border: none;
  height: 4rem;
  width: 16rem;
  background: #4834D4;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  margin: .5rem 0;
  border-radius: 5rem;
  text-transform: capitalize;
}

#homes .slide .content button:hover {
  background: #EB4D4B;
  letter-spacing: .2rem;
}

#homes .owl-nav .owl-next, #homes .owl-nav .owl-prev {
  position: absolute;
  top: 45%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #EB4D4B;
  font-size: 6rem;
  background: none;
  border: none;
  outline: none;
}

#homes .owl-nav .owl-next {
  right: 1rem;
}

#homes .owl-nav .owl-prev {
  left: 1rem;
}

#homes .owl-dots {
  position: absolute;
  bottom: 15%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#homes .owl-dots .owl-dot {
  border: none;
  outline: none;
}

.fa-times {
  -webkit-transform: translateX(27rem);
          transform: translateX(27rem);
  padding-top: 1rem;
}

@media (max-width: 768px) {
  html {
    font-size: 55%;
  }
  #homes {
    padding-bottom: 4rem;
  }
  #homes .owl-dots {
    display: none;
  }
  #homes .slide {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse;
            flex-flow: column-reverse;
  }
  #homes .slide .content {
    padding: 1rem;
  }
  #homes .slide .image img {
    width: 100vw;
  }
}
/*# sourceMappingURL=style.css.map */